<div class="jumbotron">
    <h1 class="text-center">Alurapic</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form>
                <div class="input-group">
                    <span class="input-group-btn">
                        <a [routerLink]="['/cadastro']" class="btn btn-primary">Nova foto</a>
                    </span>
                    <input class="form-control" #textoProcurado (keyup)="0" placeholder="filtrar pelo título da foto">
                </div>
            </form>
        </div>
    </div>
    <br/>

    <div class="row">
        <painel *ngFor="let foto of fotos | filtroPorTitulo:textoProcurado.value" titulo="{{foto.titulo}}" class="col-md-2">
            <foto url={{foto.url}} titulo="{{foto.titulo}}"></foto>
        </painel>
    </div>
</div>